h1 {
    font-weight: lighter;
    font-style: italic;
  }

a {
 
  color: rgb(179, 86, 0);
}

.bodyframe a {
  display: block;
}

.bodyframe {
  border: 2px solid black;
}

body {
  text-align: center;
}